
.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.label {
    width: 200px;
}

input, select, button {
    height: 25px;
    border-radius: 4px;
    border: 1px solid darkgrey;
    padding: 2px;
}

button {
    min-width: 80px;
}

.tableRow {
    margin-bottom: 10px;
}

h3 {
    margin: 12px 0;
}

textarea.reqBody {
    min-width: 370px;
    height: 150px;
    margin-bottom: 8px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions > button {
    margin: 0 4px;
}

.container {
    width: max-content;
}

button.trashBtn {
    background: none;
    border: none;
    margin-left: -12px;
    min-width: 0;
}

button:hover {
    cursor: pointer;
}

input[type='radio'], label{
    height: auto;
    vertical-align: middle;
}

.radioWrap {
    margin-bottom: 16px;
}