.request {
  background-color: cornsilk;
  height: 100vh;
  padding: 16px;


  .row {
    display: flex;
    margin-bottom: 8px;
    .errorWrap {
      display: flex;
    }
    input {
      margin-right: 8px;
    }
  }
}

.urlWrap {
  margin-bottom: 16px;
  display: flex;

  input {
    border-radius: 0 4px 4px 0;
  }

  .methodSelect {
    flex: 0 0 20%;
    height: 30px;
    border-radius: 4px 0 0 4px;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }
}

.section {
  margin-top: 16px;
  margin-bottom: 16px;
}

button.groupButton {
  display: inline-block;
  border: none;
  height: 30px;
  padding: 0 8px;
  border-right: 1px solid grey;
  &:focus {
    outline: none;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
    border-right: none;
  }
  &.selectedBtnG {
    background-color: darkgray;
  }
}

.dataSection {
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  button {
    height: 30px;
    padding: 0 10px;
    margin-left: 8px;
    border-radius: 4px;

  }
}