body {
  margin: 0;
}

div#container {
  height: 100vh;
  display: flex;
  width: 100%;

  h2 {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  h4 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.requestSection {
  flex: 0 0 40%;
}

.listSection {
  flex: 0 0 20%;
}

.responseSection {
  flex: 0 0 40%;
}

button.trash {
  border: none;
  opacity: 0.5;
  background: url('../../icons/trash.svg') center no-repeat;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

button:hover {
  cursor: pointer;
}
